<!DOCTYPE html>
<html>
  <head>
    <!--vue  -->
    <script src="/js/vue25.js" ></script>
    <!--엑시오스 CDN -->
    <script src="/js/axios.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Http 통신, 뷰 리소스</title>
  </head>
  <body>
    <div id="app">
        <button v-on:click="getData()"> 호출 </button>
 		<div class="option_check">
			<label data-tiara-layer="age"><input type="checkbox" v-model="age_check" name="age" value="0"><span class="txt_opt">전체</span></label> 
			<label data-tiara-layer="age"><input type="checkbox" v-model="age_check" name="age" value="10"><span class="txt_opt">10대</span></label> 
			<label data-tiara-layer="age"><input type="checkbox" v-model="age_check" name="age" value="20"><span class="txt_opt">20대</span></label> 
			<label data-tiara-layer="age"><input type="checkbox" v-model="age_check" name="age" value="30"><span class="txt_opt">30대</span></label> 
			<label data-tiara-layer="age"><input type="checkbox" v-model="age_check" name="age" value="40"><span class="txt_opt">40대</span></label> 
			<label data-tiara-layer="age"><input type="checkbox" v-model="age_check" name="age" value="50"><span class="txt_opt">50대</span></label> 
			<label data-tiara-layer="age"><input type="checkbox" v-model="age_check" name="age" value="60"><span class="txt_opt">60대이상</span></label> 
		</div>
		<label id="modal__btn" for="modal-status"> 버튼 </label>
		<input type="checkbox" id="modal-status" />
		<div id="modal-wrap">
			<div id="modal-box">
			<input tyoe='text'/> 
			<label id="modal-bg" for="modal-status" />
			
			</div>
			
		</div>		
		<div>
            <button type="button" @click="openModal()" id="modal__btn">Open Modal</button>
            <div v-if="isOpenModal" id="modal-bg" @click.self="closeModal">
                <component id="modal--box" :is="modalCompo"></component>
            </div>		
		</div>

    </div>
    <script>
	const Home = { template: '<h1>Hello World</h1>' };
	const About = { template: "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>" };
    
      new Vue({
        el: '#app',
        data:{
        	age_check: [],
        	isOpenModal: false,
            modalCompo: null
        },
        methods:{
                  getData: function(){
                    axios.get('/api/v1/users?page=1&size=1')
                    .then(function(response){
                    	console.log(response);
                        console.log(response.data); // 객체 형태로 반환. 파싱작업 불필요
                    });
                  },
                  setModalCompo (pCompo) {
                      if (pCompo === 'Home') this.modalCompo = Home;
                      else if (pCompo === 'About') this.modalCompo = About;
                      else this.modalCompo = null;
                  },
                  openModal() {
                      const compo = prompt('열고싶은 컴포넌트를 입력해주세요.\nex) Home, About');
                      this.setModalCompo(compo);
                      this.isOpenModal = true;
                  },
                  closeModal() {
                      this.isOpenModal = false;
                  }
                }
      });
    </script>
 
  </body>
</html>
 