<!DOCTYPE html>
<html lang="ko">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="/css/material/vue-material.min.css">
<link rel="stylesheet" href="/css/material/default.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
<script src="/js/vue25.js"></script>
<script src="/js/materia/vue-material.min.js"></script>
<script src="/js/axios.min.js"></script>

<title>board</title>
<style>
.addBtn {
	position: fixed;
	bottom: 0;
	right: 0;
	font-size: 30px;
	padding: 10px;
	color: #f5b914;
}

i {
	cursor: pointer;
}

.listTitle {
	margin-bottom: 10px;
	background-color: #f5b914;
	font-weight: bold;
	padding: 5px 0;
}

.listInner {
	margin-bottom: 10px;
	background-color: #dedede;
	padding: 5px 0;
}

.outer {
	display: flex;
	align-items: baseline;
}

.full {
	flex: 1;
}
</style>
</head>

<body>
	<div id="app">
		<div style="max-width: 800px; margin: 10px;">

			<div class="md-layout-item md-size-100">
				<md-field> <label>ID</label> <md-input v-model="id" /> </md-field>
			</div>
			<div class="outer">
				<md-field> <label>PW</label> <md-input type="password"
					v-model="pw" /> </md-field>
				<md-button @click="onLogin">로그인</md-button>
			</div>
			<div class="md-layout">
				<div class="md-layout-item md-size-100">
					<div>
						<md-button @click="onKakao">카카오로 로그인</md-button>
						<md-button @click="onAdd">신규가입</md-button>
					</div>
				</div>
			</div>
			<div>
				<md-dialog :md-active.sync="addDialog" @keydown.esc="closeDialog">
					<md-dialog-title>Add</md-dialog-title> 
						<md-dialog-content>
							<md-field> 
								<label for="username">유저명</label> <md-input v-model="newData.username" required /> 
							</md-field> 
							<md-field> 
								<label for="nickname">닉네임</label> <md-input v-model="newData.nickname" required /> 
							</md-field> 
							<md-field> 
								<label for="email">이메일</label> <md-input v-model="newData.email" required />
							</md-field>
					
							<md-field>
								<label for="argrange">연령대</label>
								<md-select v-model="newData.argrange" name="age" id="age">
									<md-option value="0">9세 이하</md-option>
									<md-option value="10">10대</md-option>
									<md-option value="20">20대</md-option>
									<md-option value="30">30대</md-option>
									<md-option value="40">40대</md-option>
									<md-option value="50">50대</md-option>
									<md-option value="60">60대이상</md-option>
								</md-select>
					        </md-field>
				
							<md-field> 
								<label for="password">패스원</label> <md-input type="password" v-model="newData.password" @keydown.enter="submit" required /> 
							</md-field> 
						</md-dialog-content> 
						<md-dialog-actions>
							<md-button class="md-primary" @click="closeDialog">Close</md-button>
							<md-button class="md-primary" @click="submit">Save</md-button> 
						</md-dialog-actions> 
				</md-dialog>
			</div>
		</div>
	</div>


	<script>
        Vue.use(VueMaterial.default);
        //api 통신 대체용 test data
        const testData = [{
        }]

        new Vue({
            el: '#app',
            data: {
                addDialog: false,
                editDialog: false,
                removeDialog: false,
                listData: [],
                age_check: [],
                search: '',
                id: '',
                pw: '',
                curSelecdtIndex: 0, //선택한 index
                first: false,
                second: false,
				
                newData: {
                    id: Number,
                    username: '',
                    nickname: '',
                    email: '',
                    argrange: '',
                },
            },
            created() {
            },

            computed: {

            },

            methods: {
    			onLogin() {
    				const frm = new FormData();
    				frm.append('username', this.id);
    				frm.append('password', this.pw);
    				
    				axios.post('/login',frm)
					.then(res => {
						window.location = "/user/userlist";
						}
					)
            		.catch(error => {
						alert("ID/PW를 확인하세요.");
            		});
    			},
    			onKakao(){
    				window.location = "/oauth2/authorization/kakao";
    				//window.location = "https://kauth.kakao.com/oauth/authorize?client_id=baea2cf9d9e01dd7788f24fb1626cf3d&redirect_uri=http://localhost:8081/login/oauth2/code/kakao&response_type=code";
    			},
                submit() {
    				const frm = new FormData();
    				frm.append('username', this.newData.username);
    				frm.append('nickname', this.newData.nickname);
    				frm.append('password', this.newData.password);
    				frm.append('email', this.newData.email);
    				frm.append('argrange', this.newData.argrange);
    				axios.post('/login/join',frm)
					.then(res => {
						alert("가입되었습니다.");
	                    this.closeDialog();
	                    this.clearData();
						}
					)
            		.catch(error => {
						alert("ID/PW를 확인하세요.");
	                    this.closeDialog();
	                    this.clearData();
            		});
                },
                onAdd() {
                    this.addDialog = true;
                },
                closeDialog() {
                    this.addDialog = false;
                    this.removeDialog = false;
                },
                clearData(key) {
                    for (let key in this.newData) {
                        this.newData[key] = '';
                    }
                },

            }
        })
    </script>
</body>

</html>